@font-face {
    font-family: "Roboto";
    src: url("/stylesheets/Roboto-Regular.ttf");
}
html {
    margin: 0px 0px 0px 0px;
    font-family: "Roboto";
}
body {
    margin: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    //color: #F0F0F0;
}
div#wrapper {
    position: relative;
    min-height: 100%;
    background-color: #FCFCFC;
}
div#header {
    background-color: #6B0000;
    width: 100%;
    height: 180px;
}
img#logo {
    margin-top: 45px;
    height: 100px;
    width: auto;
    float: left;
}
div.menu {
    background-color: inherit;
    padding-right: 50px;
    float: right;
    color: #FFF;
    margin-top: 20px;
}

div#container {
    overflow: hidden;
    padding-bottom: 100px;
}
div#content {
    color: #000000;
    padding:10px 1.5% 2000px 1.5%;
    margin-bottom: -1980px;
    float: left;
    width: 69%;
    line-height: 150%;
}
.alignnone {
   max-width: 100%;
   height: auto;
}
div#sidebar {
    float: right;
    width: 25%;
    padding: 10px 1.5% 2000px 1.5%;
    margin-bottom: -1980px;
    color: #000;
    font-family: 'Roboto';
}
div#slideshow {
    height: 400px;
    overflow: hidden;
}
div#rotator {
    width: 800px;
    background-color: #555555;
    height: 100%;
    float: left;
}
div#description {
    background-color: #c59221;
    height: 100%;
    padding: 40px;
    font-family: inherit;
    font-size: 26;
    margin-left: 800px;
    color: #FFF;
    position: relative;
    line-height: 150%;
}
div#description p {
    margin: 0px;
    padding: 0px;
}
div#description p a {
    text-decoration: none;
    color: #6b0000;
}
div#panes {
    width: 100%;
    background: inherit;
    border-bottom: solid 2px #95a5a6;
    text-align: center;
}
div#footer {
    height: 80px;
    clear: left;
    background-color: #6b0000;
    border-top: solid 5px #c59221;
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-top: 10px;
    color: #FFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
div#footer a {
    color: #e9c391;
}
div.pane {
    height: 120px;
    width: 30%;
    padding: 1.57%;
    float: left;
    border-right: solid 2px #95a5a6;
}
div.pane a {
    text-decoration: none;
}
div.entry p {
    color: #141719;
}
div.entry p a {
    color: #940000;
    text-decoration: none;
}
div.entry p a:hover {
    text-decoration: underline;
}
h1.pane {
    text-align: center;
    color: #6B0000;
    text-transform: uppercase;
    font-family: "Roboto";
}
p.pane {
    color: #000000;
    font-family: "Arial";
    font-size: 20px;
    
}


.menu ul {
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
.menu ul li {
    color: #FFF;
    position:relative;
}
.menu a {
    color: inherit;
    font-weight: 400;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 15;
}
.menu li {
    margin-left: 25px;
    margin-right: 25px;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}
/*.menu li.current_page_item a { 
    color: #6B0000;
}*/
.menu li a:hover, li.current_page_item > a {
    /*background-color: #FFFFFF;
    color: #6B0000;*/
    color: #e9c391;
}
.menu ul li ul { 
    display:block;
    
}
/*.menu ul li:hover > ul {
    display:block;
    position: absolute;
    top: 100%;
    left: 0px;
}*/
ul.children, ul.children li{
    margin: 0px;
    margin-top: 2px;
    padding: 0px;
}
ul.children li{
    display:block;
}

h1 { 
    margin: 0px;
}
h2.widgettitle {
    background-color: #6B0000;
    padding: 7px;
    color: #FFF;
    font-size: 19;
    width: 95%;
}
li.widget {
    display: inline-block;
    color: inherit;
    width: 100%;
}

p {
    font-family: Arial;
    
}
div.date {
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 11px;
    color: #999;
}
.post-header, .post-header h2 { 
    margin-bottom: 0px;
}
.post-header a {
    color: #6B0000;
    margin: 0px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.metaslider {
    clear: both; 
}
td.business_image {
   padding-right: 10px;
   padding-bottom: 15px;
}
td.business_image img {
    width: 90px;
    height: 90px;
}
td.business_info {
   padding-bottom: 15px;
   font-size: 14px;
}
#board_table {
   border-collapse: collapse;
}
#board_table td {
   border: 1px solid black;
}
#frontpage_socialmediabuttons {
   position: absolute;
   bottom: 85px;
   left: 0px;
   width: 100%;
   padding: 0px;
   text-align: center;
   height: 20px;
}
.frontpage_buttons {
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;
   width: 17%;
   height: 100%;
   background-color: #6B0000;
   transition: all 0.1s;
   text-align: center;
   vertical-align: top;
   padding-top: 8px;
   padding-bottom: 2px;
}
.frontpage_buttons:hover {
   background-color: #AA0000;
}
.frontpage_buttons a {
   font-size: 15px;
   font-family: "Roboto";
   color: #FFF;
   padding-top: 1px;
   padding-bottom: 1px;
   text-decoration: none;
   font-weight: bold;
   line-height: 100%;
}
td.business_header a {
   text-decoration: none;
   color: #000;
}
p.wp-caption-text {
   color: #777 !important;
   font-style: italic;
}
ul.slides {
   background-color: #111;
}

@media only screen and (max-width: 1340px) {
div#description {
    font-size: 18;
}
}
@media only screen and (max-width: 1319px) {
div#header {
   text-align: center;
   height: auto;
}
div.menu {
   float: none;
   padding: 0px;
   margin-top: 0px;
}
div.menu::before {
   content: none;
}
.menu ul {
   padding: 0px;
}
img#logo {
   float: none;
}
div#description {
   font-size: 16;
   line-height: 120%;
   margin-left: 600px;
}
div#slideshow {
   height: 300px;
}
div#rotator {
   width: 600px;
   height: 300px;
}
div#sidebar {
    width: 30%;
}
div#content {
    width: 64%;
}
h2.widgettitle {
     font-size: 15px;
     padding: 5px;
}
.frontpage_buttons a {
     font-size: 13.5px;
}
}
@media only screen and (max-width: 950px) {
    .menu a {
        font-size: 10px;
    }
    td.business_info {
        font-size: 8px;
    }
    img#logo {
        height: 50px;
    }
    div#description {
        font-size: 10;
        line-height: 110%;
        margin-left: 400px;
    }
    div#slideshow {
        height: 200px;
    }	
    div#rotator {
        width: 400px;
        height: 200px;
    }
    div.pane {
        height: 80px;
    }
    h1.pane {
        font-size: 20px;
    }
    p.pane {
        font-size: 12px;
    }
    div#footer {
        font-size: 10px;
    }
    td.business_image img{
        width: 60px;
        height: 60px;
    }
    td.business_header {
        font-size: 12px;
    }
    div.post-header h2 a {
        font-size: 15px;
    }
    div.entry {
        font-size: 11px;
    }
}
@media only screen and (max-width: 740px) {

.frontpage_buttons a {
    font-size: 7px;
}
div#description {
    padding: 20px;
    margin-left: 300px;
}
.menu a {
    font-size: 7px;
}
    div#slideshow {
        height: 150px;
    }	
    div#rotator {
        width: 300px;
        height: 150px;
    }
h1.pane {
    font-size: 15px;
}
p.pane {
    font-size: 10px;
}
#frontpage_socialmediabuttons {
    bottom: 40px;
    height: 10px;
}
.frontpage_buttons {
    padding-top: 4px;
    padding-bottom: 1px;
}
img#logo {
    height: 35px;
}
div.pane {
    width: 29%;
}
h2.widgettitle {
    font-size: 10px;
}
td.business_image img {
    height: 40px;
    width: 40px;
}
td.business_header {
    font-size: 9px;
}
td.business_info {
    font-size: 6.5px;
}
}
@media only screen and (max-width: 600px) {
.menu a {
   font-size: 5px;
}
div#description {
   font-size: 7px;
   line-height: 100%;
}
div#footer {
   font-size: 6px;
}
h1.pane {
   font-size: 12px;
}
p.pane {
   font-size: 8px;
}
td.business_info {
   padding-bottom: 7px;
}
}
@media only screen and (max-width: 530px) {
.menu ul li {
    margin-left: 6px;
    margin-right: 6px;
}
.frontpage_buttons a {
    font-size: 4px;
}
#frontpage_socialmediabuttons {
    height: 6px;
}
div.post-header h2 a {
    font-size: 11px;
}
div.entry {
    font-size: 8px;
}
td.business_image img {
    width: 25px;
    height: 25px;
}
td.business_image {
    padding-right: 5px;
    padding-bottom: 7px;
}
td.business_header {
    font-size: 5.5px;
}
td.business_info {
    font-size: 4px;
}
h2.widgettitle {
    font-size: 7px;
    padding: 3px;
}
}
@media only screen and (max-width: 440px) {
       div#slideshow {
        height: 75px;
    }	
    div#rotator {
        width: 150px;
        height: 75px;
    }
    div#description {
        margin-left: 150px;
        font-size: 4px;
        padding: 10px;
    }
    .menu a {
         font-size: 3px;
     }
     .menu ul li {
        margin-left: 3px;
        margin-right: 3px;
    }
    div#sidebar {
        width: 40%
    }
    div#content { 
        width: 54%;
        line-height: 100%;
    }
    #frontpage_socialmediabuttons {
        height: 3px;
        bottom: 30px;
     }
     .frontpage_buttons {
         padding-top: 2px;
         padding-bottom: 2px;
      }
      img#logo {
         height: 25px;
         margin-top: 5px;
      }
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}