<div class="menu">
  <ul>
    <li class="page_item"><a href="/ncycac-static-demo/">Home</a></li>
    <li class="page_item page-item-5 page_item_has_children"><a href="/ncycac-static-demo/the-festival/">The Festival</a>
      <ul class='children'>
        <li class="page_item page-item-145"><a href="/ncycac-static-demo/the-festival/schedule/">2016 Schedule</a></li>
        <li class="page_item page-item-10"><a href="/ncycac-static-demo/the-festival/meet-the-artists/">Meet the Artists</a></li>
        <li class="page_item page-item-135"><a href="/ncycac-static-demo/the-festival/get-involved/">Get Involved</a></li>
      </ul>
    </li>
    <li class="page_item page-item-12 page_item_has_children"><a href="/ncycac-static-demo/the-charity/">The Charity</a>
      <ul class='children'>
        <li class="page_item page-item-14"><a href="/ncycac-static-demo/the-charity/donate/">Donate</a></li>
      </ul>
    </li>
    <li class="page_item page-item-16 page_item_has_children"><a href="/ncycac-static-demo/past-events/">Past Events</a>
      <ul class='children'>
        <li class="page_item page-item-266"><a href="/ncycac-static-demo/past-events/essays/">Essays</a></li>
      </ul>
    </li>
    <li class="page_item page-item-18 page_item_has_children"><a href="/ncycac-static-demo/about-us/">About Us</a>
      <ul class='children'>
        <li class="page_item page-item-20"><a href="/ncycac-static-demo/about-us/the-board/">The Board</a></li>
        <li class="page_item page-item-22"><a href="/ncycac-static-demo/about-us/contact-us/">Contact Us</a></li>
      </ul>
    </li>
  </ul>
</div>